<!DOCTYPE html>

<html>
    <head>
        <title>Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <header>
            <h1>Stock Forecastor (foolproof way to lose all your money!)</h1>
        </header>

        <!-- <button id="testButtonPredict">Predict!</button> -->
        <br>
        <div id="dropdown">
            <form id="modelForm">
                <label for="model-select">Choose Prediction Model</label>
                <select name="models" id="model-select" required>
                    <option value="" disabled selected>Select a Model</option>

                    {% for model in models %}
                        <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div id="container">
            <input type="text" id="stockTicker" placeholder="e.g. AAPL">
            <button id="predictButton">Predict!</button>
            <p id="stockForecastResponse"></p>
            <!-- TODO: Display a graph of the stocks performance for the next 3 months-->
        </div>
        <script src="{{ url_for('static', filename='predScript.js') }}"></script>
    </body>
</html>